# Music Preference Analysis

## 1. Content <a id='back'></a>

* [Introduction](#intro)
* [Step 1. Data Overview](#data_review)
    * [Conclusion](#data_review_conclusions)
* [Step 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header Writing Style](#header_style)
    * [2.2 Missing Values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusion](#data_preprocessing_conclusions)
* [Step 3. Hypothesis Tests](#hypotheses)
    * [3.1 Hypothesis 1: User Activity in 2 Cities](#activity)
    * [3.2 Hypothesis 2: Music Preference on Monday and Friday](#week)
    * [3.3 Hypothesis 3: Genre Preference in Springfield and Shelbyville](#genre)
* [General Conclusion](#end)

## 2. Introduction <a id='intro'></a>

### 2.1. Project Description
In this project, you will compare the music preferences of users in the cities of Springfield and Shelbyville. You will examine the actual data from Y.Music to test the following hypotheses and compare user behavior in both cities:

Hypotheses:
* User activity varies depending on the day and city.
* On Monday mornings, residents of Springfield and Shelbyville listen to different genres. This also applies to Friday nights.
* Listeners in Springfield and Shelbyville have different preferences. In Springfield, users prefer pop music, while rap music has more fans in Shelbyville.

### 2.2. Objectives: 
Tests three hypotheses:
1. User activity varies depending on the day and city.
2. On Monday mornings, residents of Springfield and Shelbyville listen to different genres. This also applies to Friday nights.
3. Listeners in Springfield and Shelbyville have different preferences. In Springfield, users prefer pop music, while rap music has more fans in Shelbyville.

### 2.3. Data Description
Dataset consists of:
* userID — ID pengguna
* Track — judul trek lagu
* artist — nama artis
* genre
* City — kota tempat pengguna berada
* time — lama waktu lagu tersebut diputar
* Day — hari dalam seminggu

### 2.3. Methodology
The steps taken are:
1. Data overview
2. Data preprocessing
3. Hypothesis Testing

[Kembali ke Daftar Isi](#back)

## 3. Data Overview <a id='data_review'></a>

In [1]:
#Import library
import pandas as pd

In [2]:
#Import Dataset
df = pd.read_csv('datasets/music_project_en.csv')

In [4]:
#show first rows
df.head()

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday

In [6]:
#show dataset general information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

Column names have spacing and not in the same format.<br>
There is some missing values on `Track, artist, and genre` columns.<br>
There are columns with wrong datatypes.

In [5]:
#show statistics summary
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

There are only 3 days and 2 cities in the datasets.

### Conclusion <a id='data_review_conclusions'></a> 

Every row in the table contains data related to the played music tracks. Several columns store data describing the track itself: track title, artist, and genre. The rest of the columns store data related to user information: their city of origin and the time they played the track.

It is evident that the data we have is sufficient to test the hypotheses. However, we do have missing values.

To proceed with the analysis, we need to preprocess the data first.

[Kembali ke Daftar Isi](#back)

## 4. Data Preprocessing <a id='data_preprocessing'></a>

### 4.1. Header Writing Style <a id='header_style'></a>

In [9]:
# list column names
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Rename the columns according to the rules of good writing style:
* If the name consists of multiple words, use snake_case
* All characters should be lowercase
* Remove spaces

In [10]:
#rename column names
df = df.rename(
    columns = {
        '  userID':'userid', 'Track':'track', '  City  ':'city', 'time':'time_played','Day':'day_played',
    }
)

In [11]:
# check rename result
df.columns

Index(['userid', 'track', 'artist', 'genre', 'city', 'time_played',
       'day_played'],
      dtype='object')

[Kembali ke Daftar Isi](#back)

### 4.2. Missing Values <a id='missing_values'></a>

In [13]:
#show missing value counts
df.isna().sum()

userid            0
track          1343
artist         7567
genre          1198
city              0
time_played       0
day_played        0
dtype: int64

Not all missing values have an impact on the study. For example, missing values in the `track` and `artist` columns are not crucial. You can simply replace them with clear indicators. However, missing values in the `genre` column can affect the comparison of music preferences in Springfield and Shelbyville. In real life, it is useful to investigate why the data is missing and try to rectify it. Unfortunately, we don't have that opportunity in this project. Therefore, you should:

* Fill in the missing values with indicators.
* Evaluate how much the missing values can affect your calculations.

Replace the missing values in the `track`, `artist`, and `genre` columns with the string `unknown`. To do this, create a list called `columns_to_replace`, apply a loop using `for` on that list, and replace the missing values in each column:

In [15]:
column = ['track','artist','genre']

# loop each columns, change null values to unknown
for column in df:
    df[column] = df[column].fillna('unknown')

In [16]:
# recheck missing value
df.isna().sum()

userid         0
track          0
artist         0
genre          0
city           0
time_played    0
day_played     0
dtype: int64

[Kembali ke Daftar Isi](#back)

### 4.3. Duplicates <a id='duplicates'></a>

In [17]:
#count explicit duplicates
df.duplicated().sum()

3826

Remove duplicates:

In [18]:
#remove explicit duplicates
df = df.drop_duplicates().reset_index(drop=True)

In [19]:
#recheck duplicates
df.duplicated().sum()

0

Now remove implicit duplicates in the `genre` column. For example, genre names might be written differently. Such errors can also affect your results.

Display a list containing unique genre names, then sort the list alphabetically. To do this:
* Take the desired DataFrame column.
* Apply the sorting method to that column.
* For the sorted column, call a method that will produce all the unique values in the column.

In [20]:
#show genre unique values
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'axé',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forró',
 'frankreich',
 'französisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hip',
 'hip-hop',
 'hiphop',
 'historisch',
 'holiday',
 'hop',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 'sängerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 'türk',
 'türkçe',
 'unknown',
 'urban',
 'uzbek',
 'variété',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 'ïîï']

Carefully examine the list to find implicit duplicates of the `hiphop` genre. The duplicates could be misspelled names or alternative names for the same genre.

You will find the following implicit duplicates:
* hip
* hop
* hip-hop

To remove them, use the `replace_wrong_genres()` function with two parameters:
* wrong_genres - a list of duplicates to be replaced
* correct_genre - a string with the correct value

The function should correct the names in the `genre` column of the `df` table by replacing each value from the `wrong_genres` list with the value from the `correct_genre`.

In [22]:
#function to remove implicit duplicates
def replace_wrong_genres(wrong_genres,correct_genre):
    for wrong_genre in wrong_genres:
        df['genre'] = df['genre'].replace(wrong_genre,correct_genre)

Call `replace_wrong_genres()` and pass the arguments to the function so that it can remove the implicit duplicates (`hip, hop, and hip-hop`) and replace them with `hiphop`.

In [23]:
#apply remove implicit duplicates function
wrong_genres = ['hop','hip','hip-hop']
correct_genre = 'hiphop'
replace_wrong_genres(wrong_genres,correct_genre)

Make sure that the duplicated values have been removed. Display the list of unique values from the `genre` column:

In [24]:
#recheck implicit duplicates
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'axé',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forró',
 'frankreich',
 'französisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hiphop',
 'historisch',
 'holiday',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 'sängerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 'türk',
 'türkçe',
 'unknown',
 'urban',
 'uzbek',
 'variété',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 'ïîï']

### Conclusion <a id='data_preprocessing_conclusions'></a>
We have identified three issues in our data:
* Incorrect title formatting.
* Missing values.
* Explicit and implicit duplicates.

The column titles have been cleaned for easier table processing. All missing values have been replaced with `unknown`. However, we still need to see if the missing values in the `genre` column will affect our calculations.

Having no duplicates will make our results more accurate and easier to understand.

Now, we can proceed to hypothesis testing.

[Kembali ke Daftar Isi](#back)

## 5. Hypothesis Testing <a id='hypotheses'></a>

### 5.1. Hypothesis 1: User Activity in 2 Cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville have different music listening behaviors. This analysis uses data collected from three days of the week: Monday, Wednesday, and Friday.
* Divide the users into separate groups based on the city.
* Compare the number of tracks played by each group on Monday, Wednesday, and Friday.

As an exercise, perform each calculation separately. Evaluate the user activity in each city. Group the data based on the city and find the number of tracks played in each group.

In [18]:
df.groupby('city')['track'].count()
# Menghitung trek lagu yang diputar di setiap kota

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

Users from Springfield play more tracks than users from Shelbyville. However, this does not necessarily mean that residents of Springfield listen to music more often. Springfield is a larger city with a larger user base.

Now, group the data by day and find the number of tracks played on Monday, Wednesday, and Friday.

In [19]:
df.groupby('day_played')['track'].count()
# Menghitung trek lagu yang diputar pada masing-masing hari

day_played
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

Wednesday is the overall quietest day. However, if we consider each city separately, we might come to different conclusions.

You have seen how to group the data by city or day. Now, write a function that will group the data by city and day.

Create a function called `number_tracks()` to calculate the number of tracks played for a specific day and city. The function will require two parameters:
* The name of the day in a week.
* The name of the city.

In the function we create, use variables to store rows from the original table, where:
* The value in the `day` column is equal to the `day` parameter.
* The value in the `city` column is equal to the `city` parameter.
Apply sequential filtering with logical indexing.

Then, calculate the count of the `user_id` column in the resulting table. Save the result to a new variable. Return this variable from the function.

In [20]:
# Declare function to count the number of tracks played on specific city and day.
def number_tracks(day,city):
    track_list = df[df['city']==city]
    track_list = track_list[track_list['day_played']==day]
    track_list_count = track_list['userid'].count()
    return track_list_count

Call `number_tracks()` 6 times and change the parameters on each call, so that you can generate data in both city on each day (Monday, Wednesday, and Friday).

In [21]:
# Number of tracks played in Springfield on Monday
nt_monday_spring = number_tracks('Monday','Springfield')
nt_monday_spring

15740

In [22]:
# Number of tracks played in Shelbyville on Monday
nt_monday_shelby = number_tracks('Monday','Shelbyville')
nt_monday_shelby

5614

In [23]:
# Number of tracks played in Springfield on Wednesday
nt_wednesday_spring = number_tracks('Wednesday','Springfield')
nt_wednesday_spring

11056

In [24]:
# Number of tracks played in Shelbyville on Wednesday
nt_wednesday_shelby = number_tracks('Wednesday','Shelbyville')
nt_wednesday_spring

11056

In [25]:
# Number of tracks played in Springfield on Friday
nt_friday_spring = number_tracks('Friday','Springfield')
nt_friday_spring

15945

In [26]:
# Number of tracks played in Shelbyville on Friday
nt_friday_shelby = number_tracks('Friday','Shelbyville')
nt_friday_shelby

5895

Use `pd.DataFrame` to make table with
* Column names: `['city', 'monday', 'wednesday', 'friday']`
* The data is the result from `number_tracks()`

In [27]:
track_list_counts = [
    {
        'city' : 'Springfield',
        'monday' : nt_monday_spring,
        'wednesday' : nt_wednesday_spring,
        'friday' : nt_friday_spring
    },
    {
        'city' : 'Shelbyville',
        'monday' : nt_monday_shelby,
        'wednesday' : nt_wednesday_shelby,
        'friday' : nt_friday_shelby
    }   
]

pd.DataFrame(data=track_list_counts,columns=['city', 'monday', 'wednesday', 'friday']) # tabel dengan hasil

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusion**

The data you obtained reveals differences in user behavior:
* In Springfield, the number of tracks played reaches its peak on Mondays and Fridays, while there is a decrease in activity on Wednesdays.
* In Shelbyville, on the other hand, users listen to more music on Wednesdays.

User activity is lower on Mondays and Fridays.

### 5.2. Hypothesis 2: Music Preference on Monday and Friday <a id='week'></a>

According to the second hypothesis, on Monday mornings and Friday nights, residents of Springfield listen to different music genres compared to those enjoyed by Shelbyville residents.

Retrieve the tables (make sure the names of your combined table match the provided DataFrames in the two code blocks below):

* For Springfield — `spr_general`
* For Shelbyville — `shel_general`

In [28]:
#filter by city
spr_general = df[df['city']=='Springfield']
shel_general = df[df['city']=='Shelbyville']

Write the `genre_weekday()` function with four parameters:
* A table for the data
* The day of the week
* The first timestamp, in 'hh:mm' format
* The last timestamp, in 'hh:mm' format

The function should provide information about the top 15 popular genres on a specific day during the period between two timestamps.

In [30]:
# Declare function genre_weekday() to give most popular genre on specific day and time:
def genre_weekday(table, day, time1, time2):
    genre_df = table[table['day_played'] == day]
    genre_df = genre_df[genre_df['time_played'] > time1]
    genre_df = genre_df[genre_df['time_played'] < time2]
    genre_df_count = genre_df.groupby('genre').count()
    genre_df_sorted = genre_df_count.sort_values(by = 'userid', ascending = False)
    return genre_df_sorted['userid'].head(15)

Compare the function `genre_weekday()` result for Springfield and Shelbyville on Monday morning (from 07.00 until 11.00) and Friday night (from 17:00 until 23:00):

In [31]:
# call function for Monday morning at Springfield
genre_weekday(spr_general,'Monday','07:00:00','11:00:00')

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: userid, dtype: int64

In [32]:
# call function for Monday morning at Shelbyville
genre_weekday(shel_general,'Monday','07:00:00','11:00:00')

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: userid, dtype: int64

In [33]:
# call function for Friday night at Springfield
genre_weekday(spr_general,'Friday','17:00:00','23:00:00')

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: userid, dtype: int64

In [34]:
# call function for Friday night at Shelbyville
genre_weekday(shel_general,'Friday','17:00:00','23:00:00')

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: userid, dtype: int64

**Conclusion**

After comparing the top 15 genres on Monday morning, we can draw the following conclusions:
1. Users from Springfield and Shelbyville listen to music with the same genres. The top five genres are the same for both cities, with only rock and electronic genres swapping places.
2. In Springfield, the presence of a large number of missing values is significant, with `unknown` appearing in the 10th position. This indicates that the missing values constitute a substantial proportion of the data, which raises concerns about the reliability of our conclusions.

For Friday night, the situation is similar. Individual genres vary, but overall, the top 15 genres are the same for both cities.

Thus, the second hypothesis is partially confirmed:
* Users listen to the same music at the beginning and end of the week.
* There is no significant difference between Springfield and Shelbyville. Pop is the most popular genre in both cities.

However, the significance of the missing values raises questions about these results. In Springfield, there are so many missing values that they heavily influence our top 15 genre results. If we didn't have these missing values, the results might be different.

### 5.3. Hypothesis 3: Genre Preference in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville likes rap music. Springfield citizens likes pop more.

Group the `spr_general` table by genre and find the number of tracks played for each genre. Then, sort the results in descending order and save them to the `spr_genres` table:

In [35]:
# group spr_general based on 'genre', show counts per 'genre', and sort the Series in descending order and save it in spr_genres
spr_genres = spr_general.groupby('genre').count().sort_values(by='userid',ascending=False)

Show 10 first rows from `spr_genres`:

In [36]:
spr_genres['userid'].head(10)# menampilkan 10 baris pertama dari spr_genres

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: userid, dtype: int64

Now, perform the same process on the Shelbyville data.

Group the `shel_general` table by genre and find the number of tracks played for each genre. Then, sort the results in descending order and save them to the `shel_genres` table:

In [37]:
# group shel_general based on 'genre', show counts per 'genre', and sort the Series in descending order and save it in shel_genres
shel_genres = shel_general.groupby('genre').count().sort_values(by='userid',ascending=False)

Show 10 first rows from `shel_genres`:

In [38]:
shel_genres['userid'].head(10) # menampilkan 10 baris pertama dari shel_genres

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: userid, dtype: int64

**Kesimpulan**

This hypothesis is partially confirmed:
* Pop music is the most popular genre in Springfield, as we anticipated.
* However, pop music is equally popular in both Springfield and Shelbyville, and rap music does not make it to the top 5 genres for both cities.

## 6. General Conclusion <a id='end'></a>

We have tested the following three hypotheses:

* User activity in Springfield and Shelbyville is dependent on the day of the week, although these two cities vary in various ways.
* On Monday mornings, residents of Springfield and Shelbyville listen to different genres. The same applies to Friday nights.
* Listeners in Springfield and Shelbyville have different preferences. Both in Springfield and in Shelbyville, they prefer pop music.

After analyzing the available data, we can conclude that:

* User activity in Springfield and Shelbyville is dependent on the day of the week, despite the differences between the cities. The first hypothesis is fully accepted.

* Music preferences do not significantly vary throughout the week in Springfield and Shelbyville. We can observe slight differences in the rankings on Mondays. The second hypothesis is fully accepted.

* In both Springfield and Shelbyville, users listen to pop music the most. Therefore, this hypothesis cannot be accepted. It is also important to note that the results obtained may differ if we did not have missing values.

It turns out that the music preferences of users from Springfield and Shelbyville are very similar.
The third hypothesis is rejected. If there were indeed differences in preferences, unfortunately, we cannot determine them from this data.